.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;


  &__img {
    width: 30px;
    height: auto;
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    color: green;
  }
}